/* Common css ======================== */
html {
    font-size: 16px;
    /* tik kol kuriam del scroll  */
    margin-bottom: 500px;
  }
  
  /* Uset cards ======================== */
  .user-section {
    background-color: #f6f6f6;
  }
  
  .u-card {
    text-align: center;
    color: #999999;
    border-bottom: 1px solid tomato;
    border-bottom-color: inherit;
    padding: 2rem 0;
  }
  
  .u-card__image {
    display: inline-block;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 1px solid #c1c1c1;
    padding: 8px;
    margin-bottom: 1.5rem;
  }
  .u-card__title {
    font-weight: normal;
    font-size: 1.4rem;
  }
  
  @media screen and (min-width: 650px) {
    .user-section {
      padding: 0 6%;
    }
    .u-card {
      text-align: left;
      display: grid;
      column-gap: 1.8rem;
      grid-template-columns: 30% auto;
    }
    .u-card--rtl {
      text-align: right;
      grid-template-columns: auto 30%;
    }
    .u-card--rtl .u-card__image {
      grid-column: 2 / span 1;
    }
    .u-card--rtl .u-card__title {
      grid-row: 1;
    }
    .u-card__image {
      width: 100%;
      aspect-ratio: 1;
      height: initial;
      grid-row: span 2;
    }
    .u-card__title {
      align-self: flex-end;
    }
  }